<div>
  <div class="row">
    <div class="login-lc col-8">
      <div class="rc-container">
        <img class="logo-img" src="/images/logo.svg" alt="">
        <h2>Todo lo que necesitas para tu fiesta, <br> en un solo lugar! </h2>
        <p>Banquetes, Fotógrafos de bodas, Música para bodas, Autos para bodas, Invitaciones de boda, Tiendas de novia, Arreglos florales boda, Trajes de novio.
        Encontrarás aquí todos los proveedores para armar tu fiesta.</p>
        <a href="/auth/signup"><button class="btn btn-danger">Registrarme</button></a>
      </div>
      
    </div>
    <!-- Right Column -->
    <div class="login-rc col-4">
      <form action="/auth/login" method="POST">
        <h2>o ingresa a tu cuenta</h2>
        <br>
        <div class="form-group">
          <label for="username">Usuario</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="JonSnow">
        </div>
        <br>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Tu contraseña">
        </div>
        {{#if message }}
          <div class="error-message">{{ message }}</div>
        {{/if}}
        <br>
        <button type="submit" class="btn btn-danger">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>