<section class="homepage-img">
  <div class="home-container">
    <img class="logo-img" src="/images/logo.svg" alt="">
    <h3>Todo para tu fiesta en un solo lugar!</h3>
    <br>
    <a href="/auth/login"><button class="btn btn-danger">Empezar</button></a>
  </div>
</section>
