<section class="homepage-img">
  <div class="home-container">
    <img class="logo-img" src="/images/logo.svg" alt="">
    <h3>Todo para tu fiesta en un solo lugar!</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum doloremque quasi laborum esse maxime inventore omnis ducimus enim? Ab impedit voluptatum neque dolor cum in distinctio voluptates autem doloribus unde.</p>
    <br>
    <a href="/auth/login"><button class="btn btn-danger">Empezar</button></a>
  </div>
</section>
