//Footer
footer{
  background-color:#001D25;
  color:#fff;
  position: absolute;
  bottom:0px;
  width:100vw;
  text-align:center;
  padding:5px;
}

//Homepage
.logo-img{
  width:200px;
  margin-bottom: 30px;
}

.home-container{
  width: 60%;
  padding-top:300px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.homepage-img{
  background-image: url('../images/home-bg.png');
  background-size: cover;
  height:100vh;
}