
<h1>edit users</h1>


<form action="/users/{{username}}/edit" method="post" enctype="multipart/form-data">

  <label for="email">Email</label>
  <input type="email" name="email" id="" placeholder="ejemplo@algo.com" id="{{email}} ">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password" id="{{password}} " >
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>
   <input type="file" name="image">

   <br><br>
  <input type="submit" value="guardar">

  </p>


</form>


