<h1>Edit gallery</h1>
{{!-- <a href="/providers/{{username}}/gallery"></a> --}}


    <br><br>

    <form action="" method="POST" enctype="multipart/form-data">

       <br><br>
    <label for="gallery">Galeria:</label>
    <input type="file" name="images" multiple>
   <br><br>
  <input type="submit" value="guardar">
    </form>