<section class="edit-form">
 <div class="container">
    <h1 style="margin-bottom:30px;">Edit gallery</h1>

    <form action="" method="POST" enctype="multipart/form-data">
      <div style="margin-bottom:30px;" class="custom-file">
        <input type="file" name="images" class="custom-file-input" id="gallery" multiple>
        <label class="custom-file-label" for="gallery">Agregar archivo desde su computadora</label>
      </div>
      <input  class="btn btn-danger" type="submit" value="Guardar">
    </form>
  </div>
</section>
